In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(12).reshape(4,3),index=['b','c','a','d'],columns=['B','C','A'])
df

   B   C   A
b  0   1   2
c  3   4   5
a  6   7   8
d  9  10  11

In [19]:
# .sort_index()
df.sort_index(axis=1,ascending=False,inplace=False)

    C  B   A
b   1  0   2
c   4  3   5
a   7  6   8
d  10  9  11

In [17]:
# .sort_values()
# 对A列进行降序排序 (如果axis=0，那么by="列名"；如果axis=1，那么by="行名")
df.sort_values(by=['A'],axis=0,ascending=False)

    C  B   A
d  10  9  11
a   7  6   8
c   4  3   5
b   1  0   2