In [36]:
import numpy as np
import pandas as pd

In [37]:
# ① Series.reindex()方法
s1 = pd.Series([1,5,3,9],index=['d','c','a','f'])
s1

d    1
c    5
a    3
f    9
dtype: int64

In [38]:
# 调用reindex将会重新排序，缺失值则用NaN填补
s2 = s1.reindex(index=['a','b','c','d','e','f'])
s2

a    3.0
b    NaN
c    5.0
d    1.0
e    NaN
f    9.0
dtype: float64

In [39]:
# 空白填充（ffill,下同上；bfill,上同下）
s3 = pd.Series(['red','black','white'],index=[0,2,4])
s4 = s3.reindex(range(6),method='ffill')
s5 = s3.reindex(range(6),method='bfill')
s4

0      red
1      red
2    black
3    black
4    white
5    white
dtype: object

In [40]:
s5

0      red
1    black
2    black
3    white
4    white
5      NaN
dtype: object

In [42]:
# ② DataFrame.reindex()方法
df1 = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','b'],columns=['one','two','four'])
df1

   one  two  four
a    0    1     2
c    3    4     5
b    6    7     8

In [43]:
df2 = df1.reindex(index=['a','b','c','d'],columns=['one','two','three','four'],fill_value=100)
df2

   one  two  three  four
a    0    1    100     2
b    6    7    100     8
c    3    4    100     5
d  100  100    100   100