In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({'name':['Jon','Jamie','Rob','Sansa','Cersei'],
                 'mail':['jon@google.com','jamie@gmail.com',np.nan,'tyrion@outlook.com','cersei@qq.com']})

In [4]:
data

     name                mail
0     Jon      jon@google.com
1   Jamie     jamie@gmail.com
2     Rob                 NaN
3   Sansa  tyrion@outlook.com
4  Cersei       cersei@qq.com

In [5]:
data.dropna(subset=['mail'],inplace=True)
data[data['mail'].str.contains('gmail').map(lambda x:not x)]

     name                mail
0     Jon      jon@google.com
3   Sansa  tyrion@outlook.com
4  Cersei       cersei@qq.com

In [6]:
data.dropna(subset=['mail'],inplace=True)
data[data['mail'].str.contains('gmail|qq')]

     name             mail
1   Jamie  jamie@gmail.com
4  Cersei    cersei@qq.com